    .container {

        th {
            background-color: beige;
            width: 200px;
            border: 1px solid gray;
            font-size: 25px;
            padding: 10px;
            border: 1px solid gray;
        }

        table {
            border-spacing: 3px;
        }
    }